version: 2

defaults: &defaults
  machine: true
  working_directory: ~/project

aliases:
  - &build-docker
    name: Install curl
    command: |
      docker build -t react-native-community/react-native .
      docker run --rm --name rn-env react-native-community/react-native bin/sh -c "npx envinfo"

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Test
          command: |
            git clone https://github.com/facebook/react-native --depth=1
            cd react-native
            docker run --rm --name rn-build -v $PWD:/pwd -w /pwd react-native-community/react-native /bin/sh -c \
              "yarn install && ./gradlew RNTester:android:app:assembleRelease && ./scripts/circleci/buck_fetch.sh"
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Deploy docker
          command: |
            source ~/.bashrc
            nvm i node
            node publish_docker.js

workflows:
  version: 2
  main:
    jobs:
      - test
      - deploy:
          filters:
            branches:
              only: master
