version: 2

defaults: &defaults
  machine:
    image: ubuntu-2004:202201-02
  working_directory: ~/project

aliases:
  - &build-docker
    name: Build Docker Image
    no_output_timeout: 20m
    command: |
      docker build -t react-native-community/react-native .
      docker run --rm --name rn-env react-native-community/react-native bin/sh -c "npx envinfo"

jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Deploy docker
          command: |
            source ~/.bashrc
            nvm i node
            node publish_docker.js

  build:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Check Ruby installation
          command: docker run --rm --name rn-env react-native-community/react-native bin/sh -c "ruby --version; bundle --version"
      - run:
          name: Checkout React Native
          command: git clone https://github.com/facebook/react-native.git
      - run:
          name: Build React Native
          command: docker run --rm --ulimit nofile=10240 -v "$(pwd)/scripts/":/scripts -v "$(pwd)/react-native/":/react-native -w /react-native react-native-community/react-native /bin/sh -c "/scripts/test-react-native-setup.sh"

workflows:
  version: 2
  main:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
      - build
