version: 2

defaults: &defaults
  machine: true
  working_directory: ~/project

aliases:
  - &build-docker
    name: Build Docker Image
    command: |
      docker build -t react-native-community/react-native .
      docker run --rm --name rn-env react-native-community/react-native bin/sh -c "npx envinfo"

jobs:
  avd:
    docker:
      - image: reactnativecommunity/react-native-android:1.0.6
    steps:
      - checkout
      - run: |
          echo "it works"

  test:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Test Avd
          command: |
            docker run --rm --name rn-build -v $PWD:/pwd -w /pwd react-native-community/react-native bash -c \
              "chmod +x ./test-avd.sh && ./test-avd.sh"
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: *build-docker
      - run:
          name: Deploy docker
          command: |
            source ~/.bashrc
            nvm i node
            node publish_docker.js

workflows:
  version: 2
  main:
    jobs:
      - avd
